.UserTable th {
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    color: black;
    background: lavender;

}

.UserInfo td {
    padding: 1em;
    border-right: 1px solid #ADC0CE;
    border-bottom: 1px solid #ADC0CE;
    color: black;

}

